%section
	/ CAROUSEL
	#carousel
		#owl-demo.owl-carousel.owl-theme
			.item
				= image_tag "1.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "2.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "3.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "4.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "5.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "6.jpg", :class => "main_photo"
				.line



	/ SECOND BLOCK
	#second-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%h1 Milí priatelia športu a zábavy
						%p.info Srdečne Vás pozývame na Meniscus CUP 2015, už 7. ročník medického futbalového turnaja Jesseniovej lekárskej fakulty! Podobne ako minulý rok, aj tento bude Meniscus Cup rozdelený na ženskú a mužskú časť turnaja a finálové zápasy sa odohrajú 28. apríla ako súčasť akcie Letný strom 2015!! Tak neváhajte ani sekundu a prihláste svoj tím!! 
						%br
						%p.info Bližšie informácie o turnaji zverejníme v najbližších dňoch na pripravovanej novej web-stránke Meniscus Cup-u. Prihlasovať sa tímy môžu do stredy 15. apríla. Prihlásiť sa môžete prostredníctvom e-mailu meniscusjlf@gmail.com, osobne na izbe č.608, alebo mi napíšte správu na FB a prihlásim vás ja. Štartovné je 25 eur za tím.

	#third-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%h1 Začíname za:
						%center
							.countdown.styled

	#fourth-block
		.line
			.margin
				%article.s-3.l-1.center
					.item
						= link_to "https://www.facebook.com/events/977373485608196/" do
							= image_tag("facebook.png", :class => "fb")


	/ / GALLERY CAROUSEL
	/ #third-block
	/ 	.line
	/ 		%h2 Gallery
	/ 		.margin
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190.jpg"
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190-2.jpg"
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190-3.jpg"
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190.jpg"


	/ #fourth-block
	/ 	.line
	/ 		#owl-demo2.owl-carousel.owl-theme
	/ 			.item
	/ 				%h2 Amazing responsive template
	/ 				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 	            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 	            lobortis nisl ut aliquip ex ea commodo consequat.
	/ 			.item
	/ 				%h2 Responsive components
	/ 				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 	            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 	            lobortis nisl ut aliquip ex ea commodo consequat.
	/ 			.item
	/ 				%h2 Retina ready
	/ 				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 	            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 	            lobortis nisl ut aliquip ex ea commodo consequat.
