%section
	/ CAROUSEL
	#carousel
		#owl-demo.owl-carousel.owl-theme
			.item
				= image_tag "1.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "2.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "3.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "4.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "5.jpg", :class => "main_photo"
				.line
			.item
				= image_tag "6.jpg", :class => "main_photo"
				.line



	/ SECOND BLOCK
	#second-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%h1 
							= t('title1')
						%p.info 
							= t('title2')
						%br
						%p.info 
							= t('title3')

	#third-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%h1 
							= t('countdown')
						%center
							.countdown.styled

	#fourth-block
		.line
			.margin
				%article.s-3.l-1.center
					.item
						= link_to "https://www.facebook.com/events/977373485608196/" do
							= image_tag("facebook.png", :class => "fb")


	/ / GALLERY CAROUSEL
	/ #third-block
	/ 	.line
	/ 		%h2 Gallery
	/ 		.margin
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190.jpg"
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190-2.jpg"
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190-3.jpg"
	/ 			.s-12.l-3
	/ 				= image_tag "img/330x190.jpg"


	/ #fourth-block
	/ 	.line
	/ 		#owl-demo2.owl-carousel.owl-theme
	/ 			.item
	/ 				%h2 Amazing responsive template
	/ 				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 	            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 	            lobortis nisl ut aliquip ex ea commodo consequat.
	/ 			.item
	/ 				%h2 Responsive components
	/ 				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 	            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 	            lobortis nisl ut aliquip ex ea commodo consequat.
	/ 			.item
	/ 				%h2 Retina ready
	/ 				%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 	            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 	            lobortis nisl ut aliquip ex ea commodo consequat.
