%section
	/ SECOND BLOCK
	#rules1-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%h1 
							= t('rules')
						%h3.rules
							= t('rules1')
						%ul
							%li
								= t('rules11')
							%li
								= t('rules12')
							%li
								= t('rules13')
							%li
								= t('rules14')
							%li
								= t('rules15')
							%li
								= t('rules16')
							%li
								= t('rules17')
	#rules2-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%h3.rules
							= t('rules2')
						%ul
							%li
								= t('rules21')
							%li
								= t('rules22')
							%li
								= t('rules23')
	#rules3-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%h3.rules
							= t('rules3')
						%ul
							%li
								= t('rules31')
							%li
								= t('rules32')
							%li
								= t('rules33')
							%li
								= t('rules34')