%section
	#schedule1-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%center
							%h1
								= t('friday')
						%h3 
							= t('field')
							1
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 14:10
									%td Hltači Ohňa
									%td Paris Aint German
									%td
								%tr
									%td 14:50
									%td BanterBhais
									%td Icelandicks
									%td
								%tr
									%td 15:30
									%td Hltači Ohňa
									%td Pimp Squad
									%td
								%tr
									%td 16:10
									%td Mrkvičky
									%td THE ANGRY GLUTES
									%td
								%tr
									%td 16:50
									%td Spotená Božena
									%td Scousers
									%td
								%tr
									%td 17:30
									%td Icelandicks
									%td Paris Aint German
									%td
								%tr
									%td 18:10
									%td THE ANGRY GLUTES
									%td Multiple Scorgasms
									%td
								%tr
									%td 18:50
									%td BanterBhais
									%td Pimp Squad
									%td
						.space
						%h3 
							= t('field')
							2
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 14:10
									%td Red Stars Martin
									%td RumBull
									%td
								%tr
									%td 14:50
									%td Fraukes‘ Boys
									%td Scousers
									%td
								%tr
									%td 15:30
									%td FC Koniferum
									%td Red Stars Martin
									%td
								%tr
									%td 16:10
									%td Estrogen United
									%td Studené Pipäty
									%td
								%tr
									%td 16:50
									%td TJ Mordor
									%td RumBull
									%td
								%tr
									%td 17:30
									%td XY
									%td Fraukes‘ Boys
									%td
								%tr
									%td 18:10
									%td Atrofia mammae
									%td Estrogen United
									%td
								%tr
									%td 18:50
									%td YMCA
									%td Red Stars Martin
									%td