%section
	#schedule2-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%center
							%h1
								= t('saturday')
						%h3 
							= t('field')
							1
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 9:00
									%td Icelandicks
									%td Pimp Squad
									%td
								%tr
									%td 9:40
									%td Spotená Božena
									%td Fraukes’ Boys
									%td
								%tr
									%td 10:20
									%td BanterBhais
									%td Hltači Ohňa
									%td
								%tr
									%td 11:00
									%td Multiple Scorgasms
									%td Mrkvičky
									%td
								%tr
									%td 11:40
									%td Pimp Squad
									%td Paris Aint German
									%td
								%tr
									%td 12:20
									%td Paris Aint German
									%td BanterBhais
									%td
								%tr
									%td 13:00
									%td Atrofia mammae
									%td Estrogen United
									%td
								%tr
									%td 13:40
									%td TJ Mordor
									%td Red Stars Martin
									%td
								%tr
									%td 14:20
									%td RumBull
									%td YMCA
									%td
						.space
						%h3 
							= t('field')
							2
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 9:00
									%td YMCA
									%td TJ Mordor
									%td
								%tr
									%td 9:40
									%td Scousers
									%td XY
									%td
								%tr
									%td 10:20
									%td RumBull
									%td FC Koniferum
									%td
								%tr
									%td 11:00
									%td Studené Pipäty
									%td Atrofia mammae
									%td
								%tr
									%td 11:40
									%td TJ Mordor
									%td FC Koniferum
									%td
								%tr
									%td 12:20
									%td XY
									%td Spotená Božena
									%td
								%tr
									%td 13:00
									%td FC Koniferum
									%td YMCA
									%td
								%tr
									%td 13:40
									%td 
										= t('match1')
										%br
										A3-B3 
										= t('match11')
									%td 
									%td
								%tr
									%td 14:20
									%td 
										= t('match2')
										1
										%br
										A1-B2 
										= t('match22')
									%td 
									%td

	#schedule1-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%center
							%h1
								= t('saturday')
						%h3 
							= t('field')
							1
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 
									%td
										= t('quarter')
									%td
										= t('quarter')
									%td
								%tr
									%td 15:00
									%td C1
									%td B3
									%td G
								%tr
									%td 15:40
									%td A2
									%td 
										= t('betterFrom')
										B2/C2
									%td H
								%tr
									%td 16:20
									%td 
										= t('match2')
										2
									%td 
									%td
								%tr
									%td 17:00
									%td 
										= t('semi')
										%br
										G
									%td
										= t('semi')
										%br
										H
									%td
								%tr
									%td 17:40
									%td 
										= t('match2')
										1
									%td
										A1-B2
										= t('match22')
									%td

						.space
						%h3 
							= t('field')
							2
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 
									%td
										= t('quarter')
									%td
										= t('quarter')
									%td
								%tr
									%td 15:00
									%td B1
									%td C3
									%td I
								%tr
									%td 15:40
									%td A1
									%td 
										= t('worseFrom')
										B2/C2
									%td J
								%tr
									%td 16:20
									%td 
										= t('match1')
										%br
										A3-B3
										= t('match22')
									%td 
									%td
								%tr
									%td 17:00
									%td 
										= t('semi')
										%br
										I
									%td
										= t('semi')
										%br
										J
									%td
								%tr
									%td 17:40
									%td 
										= t('semiW')
										2
										%br
										B1-A2
										= t('match22')
									%td
									%td