%section
	#schedule2-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%center
							%h1
								= t('tuesday')
						%h3 
							= t('field')
							1
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 16:50
									%td 
										= t('3placeMen')
									%td
								%tr
									%td 17:30
									%td 
										= t('3placeWomen')
									%td
	
						%h3 
							= t('field')
							1
						%table
							%thead
								%tr
									%th 
										= t('time')
									%th
										= t('team')
									%th
										= t('result')
							%tbody
								%tr
									%td 16:50
									%td 
										= t('finalMen')
									%td
								%tr
									%td 17:30
									%td 
										= t('finalWomen')
									%td
	