!!!
%html
	%head
		%meta{:content => "width=device-width; initial-scale=1.0", :name => "viewport"}
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		%title Meniscus Cup
		= favicon_link_tag 'favicon.png'
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags


	%body.size-1140
		/ TOP NAV WITH LOGO
		%header
			%nav
				.line
					.s-12.l-2
						= link_to root_path do
							= image_tag "logo.png", :class => "logo"
					.top-nav.s-12.l-10.right
						%p.nav-text Custom menu text
						%ul.right
							%li
								= link_to root_path do 
									= t('main')
							%li
								%a 
									= t('schedule')
								%ul
									%li
										= link_to schedule_friday_path do
											= t('friday')
											24.4. 2015
									%li
										= link_to schedule_saturday_path do
											= t('saturday')
											25.4. 2015
									%li
										= link_to schedule_tuesday_path do
											= t('tuesday')
											28.4. 2015

							%li.teams
								%a
									= t('teams')
								%ul
									%li
										= link_to teams_men_path do
											= t('teams_men')
									%li
										= link_to teams_women_path do
											= t('teams_women')
							%li
								%a 
									= t('gallery')
								%ul
									%li
										= link_to "Meniscus Cup 2014", photo_2014_path
									%li
										= link_to "Meniscus Cup 2013", photo_2013_path
									%li
										= link_to "Meniscus Cup 2012", photo_2012_path
							%li
								= link_to rules_path do
									= t('rules')
							%li
								= link_to contact_path do
									= t('contact')
							%li
								- if @locale == "en" 
									= link_to set_locale_home_index_path(:locale => :sk), :class => "flag" do
										= image_tag 'flag-sk.png', :class => "flag"
								- else
									= link_to set_locale_home_index_path(:locale => :en), :class => "flag" do
										= image_tag 'flag-uk.png', :class => "flag"

		= yield
